html {
  background: #576f35;
  font-family: "Inter Tight", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
}
.header .container {
  width: 1280px;
  height: 52px;
  margin-top: 30px;
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
}
.logo-first-icon {
  color: white;
}
.logo-second-icon {
  color: white;
}
.logo .container {
  width: 194px;
  height: 18px;
  display: flex;
  align-content: center;
  margin-top: 50;
  margin-left: 100px;
  display: block;
}
.menu .container {
  box-sizing: border-box;
  width: 312px;
  height: 44px;
  display: inline;
  gap: 10px;
  align-self: flex-end;
}
.menu li {
  display: inline;
}
.header-menu-list {
  display: inline;
  margin-right: 10px;
}
.menu-item-first {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px;
  width: 114px;
  height: 44px;
}
.menu-item-second {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px;
  width: 101px;
  height: 44px;
}
.menu-item-third {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px;
  width: 81px;
  height: 44px;
}
.button-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 18px;

  letter-spacing: 0.03em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 2px 3px;
  width: 157px;
  height: 52px;
  background: #7a3145;
}
